<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.example.mvendas"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <!-- Permissao para acessar a internet -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- Permissao para vibrar -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Permissao para fazer chamadas -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- Permissao para escrever no cartao de memoria -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Permissoes para enviar SMS -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        android:debuggable="true" >
        <activity
            android:name="br.com.mvendas.view.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.mvendas.view.ClientesActivity"
            android:label="@string/clientes" >
        </activity>
        <activity
            android:name="br.com.mvendas.view.ListarClientesActivity"
            android:label="@string/listar_clientes" >
        </activity>       
        <activity
            android:name="br.com.mvendas.view.EquipamentosActivity"
            android:label="@string/equipamentos" >
        </activity>
        <activity
            android:name="br.com.mvendas.view.ListarEquipamentosActivity"
            android:label="@string/listar_equipamentos" >
        </activity>       
        
    </application>
    
</manifest>
